{% extends "core/base.html" %}

{% block content %}
<h1>Tools</h1>

<div class="container-fluid">

    <div class="container text-center">
        <div class="card">
            <h3>Your current IP address is <strong>{{ ip_address }}</strong>. View the
            <a href="ip-info/{{ ip_address.ip }}/{{ ip_address.prefixlen }}">IP address info</a> or
            <a href="subnet-info/{{ ip_address.ip }}/{{ ip_address.prefixlen }}">subnet info</a> for
            your current connection.</h3>
            <p>{{ ip_details }}</p>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-3 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">IP Address Info</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <form action="ip-check/" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="ip_address" placeholder="1.1.1.1/32">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Subnet Info</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <form action="subnet-check/" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="ip_address" placeholder="1.1.1.1/24">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">MAC Addresses Info</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <form>
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="1.1.1.1/24">
                            <button type="submit" value="Go">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}