{% extends "core/base.html" %}

{% block content %}
<h2>IP Info</h2>

<form action="/tools/ip-check/" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="ip_address" placeholder="1.1.1.1/24">
    <input type="submit" value="Go">
</form>

{% if ip_address %}
    <h3>{{ ip_address }}</h3>
    {{ ip_address.ip.bits }}
    <p>{{ ip_details.all }}</p>
{% else %}
    <h3>No IP address</h3>
{% endif %}

{% endblock %}