{% extends "core/base.html" %}

{% block content %}
<h2>Subnet Info</h2>

<form action="/tools/subnet-check/" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="ip_address" placeholder="1.1.1.1/24">
    <input type="submit" value="Go">
</form>

{% if ip_address %}
<h3>{{ ip_address}}</h3>
<div class="container text-center">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
{% else %}
    <h3>No IP address</h3>
{% endif %}

{% endblock %}